@font-face {
  font-family: "iconfont"; /* Project id 2841265 */
  src: url('//at.alicdn.com/t/font_2841265_0gvjk2vu1rte.woff2?t=1634281798937') format('woff2'),
       url('//at.alicdn.com/t/font_2841265_0gvjk2vu1rte.woff?t=1634281798937') format('woff'),
       url('//at.alicdn.com/t/font_2841265_0gvjk2vu1rte.ttf?t=1634281798937') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-tuichuquanping:before {
  content: "\e8fb";
}

.icon-sanjiao3:before {
  content: "\e600";
}

.icon-shouye:before {
  content: "\e8b9";
}

.icon-xuanxiang:before {
  content: "\ee29";
}

.icon-dingdanguanli:before {
  content: "\e607";
}

.icon-quanxianguanli:before {
  content: "\e63b";
}

.icon-yonghuguanli:before {
  content: "\e622";
}

.icon-shangpinguanli:before {
  content: "\e68c";
}

.icon-shujutongji:before {
  content: "\e606";
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-ziyuanxhdpi:before {
  content: "\e62e";
}
