@font-face {
  font-family: "iconfont"; /* Project id 2841265 */
  src: url('//at.alicdn.com/t/font_2841265_6xcytxtojke.woff2?t=1633416103613') format('woff2'),
       url('//at.alicdn.com/t/font_2841265_6xcytxtojke.woff?t=1633416103613') format('woff'),
       url('//at.alicdn.com/t/font_2841265_6xcytxtojke.ttf?t=1633416103613') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shousuo:before {
  content: "\e60a";
}

.icon-yonghutianchong:before {
  content: "\e6a2";
}

.icon-ziyuanxhdpi:before {
  content: "\e62e";
}
